## 099 순차적인 정수 리스트 만들기
- [0,1,2]과 같이 요소가 순차적인 정수로 된 리스트를 간단하게 만드는 방법을 학습

In [2]:
range1 = range(10)
range2 = range(10, 20)
print(list(range1))
print(list(range2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [4]:
ret = 0
for i in range(10):
    ret += (i + 1)
ret

55

## 100 리스트에서 특정위치의 요소 얻기
- 리스트의 특정 위치에 있는 요소를 얻는 방법에 대해 학습

In [1]:
listdata = [1, 2, 'a', 'b', 'c', [4, 5, 6]]
val1 = listdata[1]
val2 = listdata[3]
val3 = listdata[5][1]

print(val1)
print(val2)
print(val3)

2
b
5

## 101 리스트에서 특정요소의 위치 구하기
- 리스트의 특정요소 값을 알때 그 요소의 위치를 구하는 방법에 대해 학습

In [5]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성','지구']
planet = '지구'
pos = solarsys.index(planet)
print(f'{planet}는 태양계에서 {pos}번쨰에 있습니다.')
pos = solarsys.index(planet,5)
print(f'{planet}는 태양계에서 {pos}번쨰에 있습니다.')

지구는 태양계에서 3번쨰에 있습니다.
지구는 태양계에서 9번쨰에 있습니다.

## 102 리스트에서 특정 위치의 요소를 변경하기
- 리스트의 특정 요소를 다른 값으로 변경하는 방법을 학습

In [7]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
planet = '화성'
pos = solarsys.index(planet)
solarsys[pos] = 'Mars'
print(solarsys)

['태양', '수성', '금성', '지구', 'Mars', '목성', '토성', '천왕성', '해왕성']

## 103 리스트에서 특정 구간에 있는 요소 추출하기
- 리스트의 특정 구간에 있는 요소를 추출하여 새로운 리스트를 만드는 방법에 대해 학습

In [8]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
rock_planet = solarsys[1:4]
gas_planet = solarsys[4:]
print(f'태양계의 암석형 행성 : {rock_planet}')
print(f'태양계의 가스형 행성 : {gas_planet}')

태양계의 암석형 행성 : ['수성', '금성', '지구']
태양계의 가스형 행성 : ['화성', '목성', '토성', '천왕성', '해왕성']

## 104 리스트에서 짝수 번째 요소만 추출하기
- 리스트의 짝수 번째 요소를 추출하여 새로운 리스트를 만드는 방법을 학습

In [9]:
listdata = list(range(1,21))
evenlist = listdata[1::2]
print(evenlist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
oddlist = listdata[::2]
print(oddlist)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## 105 리스트 요소 순서를 역순으로 만들기
- 리스트의 요소 순서를 역순으로 만드는 방법을 학습

In [11]:
listdata = list(range(5))
listdata.reverse()
print(listdata)

[4, 3, 2, 1, 0]

## 106 리스트 요소 순서를 역순으로 만들기
- 리스트의 요소 순서를 역순으로 만드는 방법을 학습

In [14]:
listdata = list(range(5))
ret1 = reversed(listdata)
ret2 = listdata[::-1]
print(f'원본 리스트 : {listdata}')
print(f'역순 리스트 : {list(ret1)}')
print(f'슬라이싱 리스트 : {ret2}')

원본 리스트 : [0, 1, 2, 3, 4]
역순 리스트 : [4, 3, 2, 1, 0]
슬라이싱 리스트 : [4, 3, 2, 1, 0]

## 107 리스트 합치기
- 두 개의 리스트를 합쳐 새로운 리스트를 만드는 방법을 학습

In [15]:
listdata1 = ['a','b','c','d','e']
listdata2 = ['f','g','h','i','j']
listdata3 = listdata1 + listdata2
listdata4 = listdata2 + listdata1

print(listdata3)
print(listdata4)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['f', 'g', 'h', 'i', 'j', 'a', 'b', 'c', 'd', 'e']

## 108 리스트 반복하기
- 동일한 리스트를 n번 반복하여 새로운 리스트를 만드는 방법을 학습

In [16]:
listdata = list(range(3))
ret = listdata * 3
print(ret)

[0, 1, 2, 0, 1, 2, 0, 1, 2]

## 109 리스트에 요소 추가하기
- 리스트의 맨 끝에 새로운 요소를 추가하는 방법을 학습

In [1]:
listdata = []
for i in range(3):
    txt = input(f'리스트에 추가할 값을 입력하세요 : [{i+1}/3] : ')
    listdata.append(txt)
    print(listdata)

리스트에 추가할 값을 입력하세요 : [1/3] :  123

['123']

리스트에 추가할 값을 입력하세요 : [2/3] :  4534

['123', '4534']

리스트에 추가할 값을 입력하세요 : [3/3] :  547

['123', '4534', '547']

## 110 리스트의 특정 위치에 요소 삽입하기
- 리스트의 특정 위치에 새로운 요소를 삽입하는 방법을 학습

In [5]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
print(len(solarsys))
pos = solarsys.index('목성')
solarsys.insert(pos, '소행성')
print(solarsys)
print(len(solarsys))

9
['태양', '수성', '금성', '지구', '화성', '소행성', '목성', '토성', '천왕성', '해왕성']
10

## 111 리스트의 특정 위치의 요소 제거하기
- 리스트에서 특정 위치의 요소를 제거하는 방법을 학습

In [7]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
print(solarsys)
del solarsys[0]
print(solarsys)
del solarsys[-2]
print(solarsys)

['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
['수성', '금성', '지구', '화성', '목성', '토성', '해왕성']

## 112 리스트에서 특정 요소 제거하기
- 요소값을 아는 경우 리스트에서 요소를 제거하는 방법을 학습

In [8]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
print(solarsys)
solarsys.remove('태양')
print(solarsys)

['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

## 113 리스트에서 특정 구간에 있는 모든 요소 제거하기
- 리스트에서 특정 범위에 있는 모든 요소를 제거하는 방법을 학습

In [11]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
print(solarsys)
del solarsys[1:3]
print(solarsys)

['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
['태양', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

# 114 리스트에 있는 요소 개수 구하기
- 리스트에서 특정 범위에 있는 모든 요소를 제거하는 방법을 학습

In [13]:
listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
listsize = len(listdata)
print(listsize)

15

## 115 리스트에서 특정 요소 개수 구하기
- 리스트에서 값이 동일한 요소의 개수를 구하는 방법에 대해 학습

In [15]:
listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
c1 = listdata.count(2)
c2 = listdata.count(7)
print(c1)
print(c2)

3
1

## 116 리스트 제거하기
- 리스트 자체를 메모리에서 제거하는 방법을 학습

In [16]:
listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
del listdata
print(listdata)

NameError: name 'listdata' is not defined

## 117 리스트 요소 정렬하기
- 리스트의 모든 요소를 정렬하는 방법을 학습

In [17]:
namelist = ['Mary', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly', ]
namelist.sort()
print(namelist)

['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']

## 118 리스트 요소 정렬하기
- 리스트의 모든 요소를 정렬하는 방법을 학습

In [19]:
namelist = ['Mary', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly', ]
ret1 = sorted(namelist)
ret2 = sorted(namelist, reverse=True)
print(namelist)
print(ret1)
print(ret2)

['Mary', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly']
['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']
['Tom', 'Sams', 'Michale', 'Mary', 'Kelly', 'Bob', 'Aimy']

## 119 리스트 요소 무작위로 섞기
- 리스트의 모든 요소를 무작위로 섞는 방법을 학습

In [21]:
from random import shuffle

listdata = list(range(1,11))
for i in range(3):
    shuffle(listdata)
    print(listdata)

[10, 6, 5, 2, 3, 9, 7, 8, 4, 1]
[6, 2, 7, 3, 9, 10, 4, 5, 8, 1]
[8, 1, 7, 10, 3, 9, 4, 6, 2, 5]

## 120 리스트의 모든 요소를 인덱스 쌍으로 추출하기
- 리스트의 모든 요소에 대해 (인덱스, 요소)가 요소인 리스트를 생성하는 방법을 학습

In [23]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
ret = list(enumerate(solarsys))
print(ret)

for i, body in enumerate(solarsys):
    print(f'태양계의{i}번째 행성은 {body}입니다.')

[(0, '태양'), (1, '수성'), (2, '금성'), (3, '지구'), (4, '화성'), (5, '목성'), (6, '토성'), (7, '천왕성'), (8, '해왕성')]
태양계의0번째 행성은 태양입니다.
태양계의1번째 행성은 수성입니다.
태양계의2번째 행성은 금성입니다.
태양계의3번째 행성은 지구입니다.
태양계의4번째 행성은 화성입니다.
태양계의5번째 행성은 목성입니다.
태양계의6번째 행성은 토성입니다.
태양계의7번째 행성은 천왕성입니다.
태양계의8번째 행성은 해왕성입니다.

## 121 리스트의 모든 요소의 합 구하기
- 리스트의 모든 요소가 수치형 자료일때 모든 요소의 합을 구하는 방법을 학습

In [24]:
listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
ret = sum(listdata)
print(ret)

65

## 122 리스트 요소가 모두 참인지 확인하기
- 리스트의 모든 요소가 참인지 거짓인지 확인하는 방법을 학습
- all : 인자로 입력되는 리스트의 모든 요소가 참인 경우에만 True를 리턴
- any : 인자로 입력되는 리스트의 모든 요소가 거짓인 경우에만 False를 리턴, 참이 하나라도 있으면 True를 리턴

In [25]:
listdata1 = [0, 1, 2, 3, 4]
listdata2 = [True, True, True]
listdata3 = ['', [], (), None, False]
print(all(listdata1))
print(any(listdata1))
print(all(listdata2))
print(any(listdata2))
print(all(listdata3))
print(any(listdata3))

False
True
True
True
False
False

## 123 사전에 요소 추가하기
- 키값 쌍이 요소인 사전에 새로운 요소를 추가하는 방법을 학습

In [27]:
solar1 = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
solar2 = ['Sun', 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
solardict = {}
for i, k in enumerate(solar1):
    val = solar2[i]
    solardict[k] = val
print(solardict)

{'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn', '천왕성': 'Uranus', '해왕성': 'Neptune'}

## 124 사전의 특정 요소값 변경하기
- 사전의 특정 키값요소에서 값을 변경하는 방법을 학습

In [29]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 'Michale':27115, 'Bob':5887, 'Kelly':7855}
names['Aimy'] = 10000
print(names)

{'Mary': 10999, 'Sams': 2111, 'Aimy': 10000, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}

## 125 사전의 특정 요소 제거하기
- 사전의 특정 키값요소를 제거하는 방법에 대해 학습

In [31]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 'Michale':27115, 'Bob':5887, 'Kelly':7855}
print(names)
del names['Sams']
print(names)

{'Mary': 10999, 'Sams': 2111, 'Aimy': 9778, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}
{'Mary': 10999, 'Aimy': 9778, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}

## 126 사전의 모든 요소 제거하기
- 사전의 모든 요소를 제거하는 방법을 학습

In [32]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 'Michale':27115, 'Bob':5887, 'Kelly':7855}
names.clear()
print(names)

{}

## 127 사전에서 키만 추출하기
- 사전에서 키만 추출하는 방법을 학습

In [33]:
names = {'Mary': 10999, 'Sams': 2111, 'Aimy': 9778, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}
ks = names.keys()
print(ks)

for k in ks:
    print(f'Key : {k}, Value : {names[k]}')

dict_keys(['Mary', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly'])
Key : Mary, Value : 10999
Key : Sams, Value : 2111
Key : Aimy, Value : 9778
Key : Tom, Value : 20245
Key : Michale, Value : 27115
Key : Bob, Value : 5887
Key : Kelly, Value : 7855

## 128 사전에서 값만 추출하기
- 사전에서 값만 추출하는 방법을 학습

In [34]:
names = {'Mary': 10999, 'Sams': 2111, 'Aimy': 9778, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}
vals = names.values()
print(vals)

vals_list = list(vals)
ret = sum(vals_list)
print(f'출생아 수의 총계 : {ret}')

dict_values([10999, 2111, 9778, 20245, 27115, 5887, 7855])
출생아 수의 총계 : 83990

## 129 사전 요소를 모두 추출하기
- 사전의 모든 키값을 추출하여 리스트로 만드는 방법을 학습

In [35]:
names = {'Mary': 10999, 'Sams': 2111, 'Aimy': 9778, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}
items = names.items()
print(items)

for item in items:
    print(item)

dict_items([('Mary', 10999), ('Sams', 2111), ('Aimy', 9778), ('Tom', 20245), ('Michale', 27115), ('Bob', 5887), ('Kelly', 7855)])
('Mary', 10999)
('Sams', 2111)
('Aimy', 9778)
('Tom', 20245)
('Michale', 27115)
('Bob', 5887)
('Kelly', 7855)

## 130 사전에 특정 키가 존재하는지 확인하기
- 특정 값이 사전의 키로 존재하는지 확인하는 방법에 대해 학습

In [37]:
names = {'Mary': 10999, 'Sams': 2111, 'Aimy': 9778, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}
k = input('이름을 입력하세요 : ')
if k in names:
    print(f'이름이 {k}인 출생아 수는 {names[k]}입니다.')
else :
    print(f'자료에 {k}인 이름은 존재하지 않습니다.')

이름을 입력하세요 :  Michale

이름이 Michale인 출생아 수는 27115입니다.

## 131 사전 정렬하기
- 사전의 키나 값을 기준으로 오름차순 또는 내림차순 정렬을 수행하는 방법에 대해 학습

In [38]:
names = {'Mary': 10999, 'Sams': 2111, 'Aimy': 9778, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}

ret1 = sorted(names)
print(ret1)

# sorted의 key 인자로 사용할 함수 f1을 정의, 정렬할 데이터의 첫번째 요소를 기준으로 정렬(key)
def f1(x):
    return x[0]

# sorted의 key 인자로 사용할 함수 f2을 정의, 정렬할 데이터의 두번째 요소를 기준으로 정렬(value)
def f2(x):
    return x[1]

ret2 = sorted(names.items(), key = f1)
print(ret2)

ret3 = sorted(names.items(), key = f2)
print(ret3)

ret4 = sorted(names.items(), key = f2, reverse= True)
print(ret4)

['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']
[('Aimy', 9778), ('Bob', 5887), ('Kelly', 7855), ('Mary', 10999), ('Michale', 27115), ('Sams', 2111), ('Tom', 20245)]
[('Sams', 2111), ('Bob', 5887), ('Kelly', 7855), ('Aimy', 9778), ('Mary', 10999), ('Tom', 20245), ('Michale', 27115)]
[('Michale', 27115), ('Tom', 20245), ('Mary', 10999), ('Aimy', 9778), ('Kelly', 7855), ('Bob', 5887), ('Sams', 2111)]

## 132 문자 코드값 구하기
- 문자에 대응하는 코드 값을 구하는 방법을 학습

In [40]:
ch = input('문자를 1개 입력하세요 : ')
if len(ch) !=0:
    ch = ch[0]
    chv = ord(ch)
    print(f'문자 : {ch}, 코드값 : {chv}[{hex(chv)}]')

문자를 1개 입력하세요 :  d

문자 : d, 코드값 : 100[0x64]

## 133 코드값에 대응하는 문자 얻기
- 코드값을 알고 있을때 그에 상응하는 문자를 얻는 방법에 대해 학습ㅡ

In [1]:
val = input('문자 코드값을 입력하세요 : ')
val = int(val)
try:
    ch = chr(val)
    print(f'코드값 : {val}[{hex(val)}], 문자 : {ch}')
except ValueError:
    print(f'입력한 {val}에 대한 문자가 존재하지 않습니다.')

문자 코드값을 입력하세요 :  114

코드값 : 114[0x72], 문자 : r

## 134 문자열로 된 식을 실행하기
- 파이썬 코드로 실행가능한 문자열을 실제로 실행하는 방법에 대해 학습

In [2]:
expr1 = '2 + 3'
expr2 = 'round(3.7)'
ret1 = eval(expr1)
ret2 = eval(expr2)

print(f'{expr1}을 eval로 실행한 결과 : {ret1}')
print(f'{expr2}을 eval로 실행한 결과 : {ret2}')

2 + 3을 eval로 실행한 결과 : 5
round(3.7)을 eval로 실행한 결과 : 4

## 135 이름없는 한줄짜리 함수 만들기
- 함수 이름없이 한줄로 간단하게 함수를 만드는 방법에 대해 학습
- lambda 인자, 인자 : 실행코드

In [7]:
add = lambda x, y : x + y
ret = add(1,3)
print(ret)

funcs = [lambda x : x+'.pptx', lambda x:x+'.docx']
ret1 = funcs[0]('intro')
ret2 = funcs[1]('Report')
print(ret1)
print(ret2)

names = {'Mary': 10999, 'Sams': 2111, 'Aimy': 9778, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}
ret3 = sorted(names.items(), key = lambda x : x[0])
print(ret3)

4
intro.pptx
Report.docx
[('Aimy', 9778), ('Bob', 5887), ('Kelly', 7855), ('Mary', 10999), ('Michale', 27115), ('Sams', 2111), ('Tom', 20245)]

## 136 인자를 바꾸어 함수를 반복호출하여 결과값 얻기
- 함수에 인자를 바꾸어 반복적으로 호출한 결과를 리스트로 얻는 방법에 대해 학습
- map : 집합A와 함수f가 주어지면 집합B를 쉽게 구해주는 역할

In [8]:
f = lambda x : x * x
args = [1,2,3,4,5]
ret = map(f, args)
print(list(ret))

[1, 4, 9, 16, 25]

In [9]:
f = lambda x, y : x * x + y
X = [1, 2, 3, 4, 5]
Y = [10, 9, 8, 7, 6]
ret = map(f, X, Y)
print(list(ret))

[11, 13, 17, 23, 31]