## 03-1 나만의 데이터 만들기

#### 시리즈와 데이터프레임 직접 만들기

In [1]:
# 시리즈 만들기
import pandas as pd
s = pd.Series(['banana', 42])
s

0    banana
1        42
dtype: object

In [2]:
# 문자열을 인덱스로
s = pd.Series(['Wes McKinney' , 'Creator of pandas'], index = ['Person','Who'])
s

Person         Wes McKinney
Who       Creator of pandas
dtype: object

In [3]:
# 데이터 프레임 만들기
scientist = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'Age': [37, 61]
})
scientist

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [5]:
# 인덱스 지정
# column의 이름을 지정할때 딕셔너리의 key값과 동일한 순서로 해야함
# 동일한 순서로 안하면 컬럼은 꼬이게 됨
scientist = pd.DataFrame(
    data = {'Occupation': ['Chemist', 'Statistician'],
            'Born': ['1920-07-25', '1876-06-13'],
            'Died': ['1958-04-16', '1937-10-16'],
            'Age': [37, 61]},
    index = ['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Age', 'Died']
)
scientist

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

In [9]:
# 혹은 orderdict를 사용하여 순서가 있는 딕셔너리를 쓰면됨
from collections import OrderedDict

scientist = pd.DataFrame(OrderedDict({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'Age': [37, 61]
}))
scientist

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

## 03-2 시리즈 다루기 - 기초

#### 데이터프레임에서 시리즈 선택하기

In [10]:
# 데이터 프레임 생성
scientist = pd.DataFrame(
    data={'Occupation': ['Chemist', 'Statistician'],
          'Born': ['1920-07-25', '1876-06-13'],
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age']
)
scientist

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [11]:
# 데이터 프레임에서 시리즈를 선택
first_row = scientist.loc['William Gosset']
print(type(first_row))

<class 'pandas.core.series.Series'>

In [12]:
first_row

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

#### index, values 속성과 keys 메서드 사용하기

In [13]:
# index 속성 사용하기
first_row.index

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [14]:
# values 속성 사용하기
first_row.values

array(['Statistician', '1876-06-13', '1937-10-16', 61], dtype=object)

In [15]:
# keys 메서드 사용하기
first_row.keys()

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [16]:
# index 속성 응용
first_row.index[0]

'Occupation'

In [17]:
# keys 메서드 응용
first_row.keys()[0]

'Occupation'

#### 시리즈의 mean, min, max, std 메서드 사용

In [19]:
# Age 시리즈 변수에 저장
ages = scientist['Age']
ages

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [21]:
# 시리즈가 정수라면 통계 메서드 사용가능
print(ages.mean())
print(ages.min())
print(ages.max())
print(ages.std())

49.0
37
61
16.97056274847714

## 03-3 시리즈 다루기 - 응용

#### 시리즈와 불린 추출 사용하기

In [23]:
# 데이터 불러오기
scientists = pd.read_csv('data/scientists.csv')
scientists

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [27]:
# 통계 수치 불러오기
ages = scientists['Age']
print(ages.max())
print(ages.mean())

90
59.125

In [29]:
# 불린 추출, 평균나이보다 큰 사람들만 추출
ages[ages > ages.mean()]

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [33]:
# ages가 평균보다 큰것에 대한 불린 인덱스
ages > ages.mean()

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [34]:
# 불린 추출 : 리스트형태로 참이나 거짓을 담아 시리즈에 전달하면 참인 인덱스의 데이터만 추출함
manual_bool_values = [True, True, False, False, True, True, False, True]
ages[manual_bool_values]

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

#### 벡터와 스칼라로 브로드캐스팅 수행하기

In [36]:
# 같은 길이의 벡터와 벡터 더하기
ages + ages

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [37]:
# 같은 길이의 벡터와 벡터 곱하기
ages * ages

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [40]:
# 벡터에 스칼라 더하기 -> 모든 값에 스칼라를 적용하여 브로드캐스팅됨
ages + 100

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [41]:
# 벡터에 스칼라 곱하기 -> 모든 값에 스칼라를 적용하여 브로드캐스팅됨
ages * 100

0    3700
1    6100
2    9000
3    6600
4    5600
5    4500
6    4100
7    7700
Name: Age, dtype: int64

In [44]:
# 길이가 서로 다른 벡터를 연산하면? 같은 인덱스 값만 연산함 나머지는 Nan값으로 나옴
ages + pd.Series([1,100])

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [46]:
# sort_index : ascending = False로 index를 역순으로 정렬
rev_ages = ages.sort_index(ascending=False)
rev_ages

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

## 03-4 데이터프레임다루기

#### 불린 추출과 브로드 캐스팅

In [48]:
# 데이터프레임의 age열에서 age의 평균보다 높은것만 추출
scientists[scientists['Age'] > scientists['Age'].mean()]

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [50]:
# 리스트로 불린 추출해보기
scientists.loc[[True, True, False, True, False, False, False, False]]

                Name        Born        Died  Age    Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1     William Gosset  1876-06-13  1937-10-16   61  Statistician
3        Marie Curie  1867-11-07  1934-07-04   66       Chemist

In [52]:
# 데이터프레임에 브로드 캐스팅 (모든 행에 문자열이 2배가 됨)
scientists * 2

,Name,Born,Died,Age,Occupation
0,Rosaline FranklinRosaline Franklin,1920-07-251920-07-25,1958-04-161958-04-16,74,ChemistChemist
1,William GossetWilliam Gosset,1876-06-131876-06-13,1937-10-161937-10-16,122,StatisticianStatistician
2,Florence NightingaleFlorence Nightingale,1820-05-121820-05-12,1910-08-131910-08-13,180,NurseNurse
3,Marie CurieMarie Curie,1867-11-071867-11-07,1934-07-041934-07-04,132,ChemistChemist
4,Rachel CarsonRachel Carson,1907-05-271907-05-27,1964-04-141964-04-14,112,BiologistBiologist
5,John SnowJohn Snow,1813-03-151813-03-15,1858-06-161858-06-16,90,PhysicianPhysician
6,Alan TuringAlan Turing,1912-06-231912-06-23,1954-06-071954-06-07,82,Computer ScientistComputer Scientist
7,Johann GaussJohann Gauss,1777-04-301777-04-30,1855-02-231855-02-23,154,MathematicianMathematician

## 03-5시리즈와 데이터프레임의 데이터 처리하기

#### 시리즈와 데이터프레임의 데이터처리하기

In [53]:
# 열의 자료형 바꾸기와 새로운 열 추가하기
scientists['Born'].dtype

dtype('O')

In [54]:
scientists['Died'].dtype

dtype('O')

In [55]:
# 날짜를 문자열로 저장한 데이터는 datetime으로 변경

In [56]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
born_datetime

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [57]:
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
died_datetime

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [62]:
# 새로만든 datetime 형식의 데이터를 새로운열로 추가
scientists['Born_dt'] , scientists['Died_dt'] = (born_datetime, died_datetime)
print(scientists.shape)
scientists.head()

(8, 7)

,Name,Born,Died,Age,Occupation,Born_dt,Died_dt
0,Rosaline Franklin,1920-07-25,1958-04-16,37,Chemist,1920-07-25,1958-04-16
1,William Gosset,1876-06-13,1937-10-16,61,Statistician,1876-06-13,1937-10-16
2,Florence Nightingale,1820-05-12,1910-08-13,90,Nurse,1820-05-12,1910-08-13
3,Marie Curie,1867-11-07,1934-07-04,66,Chemist,1867-11-07,1934-07-04
4,Rachel Carson,1907-05-27,1964-04-14,56,Biologist,1907-05-27,1964-04-14

In [64]:
# 죽은 날짜에서 태어난 날짜를 빼서, 날아온 날짜 계산
scientists['age_days_dt'] = scientists['Died_dt'] - scientists['Born_dt']
scientists

,Name,Born,Died,Age,Occupation,Born_dt,Died_dt,age_days_dt
0,Rosaline Franklin,1920-07-25,1958-04-16,37,Chemist,1920-07-25,1958-04-16,13779 days
1,William Gosset,1876-06-13,1937-10-16,61,Statistician,1876-06-13,1937-10-16,22404 days
2,Florence Nightingale,1820-05-12,1910-08-13,90,Nurse,1820-05-12,1910-08-13,32964 days
3,Marie Curie,1867-11-07,1934-07-04,66,Chemist,1867-11-07,1934-07-04,24345 days
4,Rachel Carson,1907-05-27,1964-04-14,56,Biologist,1907-05-27,1964-04-14,20777 days
5,John Snow,1813-03-15,1858-06-16,45,Physician,1813-03-15,1858-06-16,16529 days
6,Alan Turing,1912-06-23,1954-06-07,41,Computer Scientist,1912-06-23,1954-06-07,15324 days
7,Johann Gauss,1777-04-30,1855-02-23,77,Mathematician,1777-04-30,1855-02-23,28422 days

In [65]:
# 시리즈나, 데이터 프레임 데이터를 무작위로 섞기
# age값을 출력
scientists['Age']

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [66]:
# random 라이브러리로 섞기
import random
random.seed(12)
random.shuffle(scientists['Age'])
scientists['Age']

C:\ProgramData\Anaconda3\lib\random.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

0    66
1    61
2    37
3    41
4    56
5    45
6    90
7    77
Name: Age, dtype: int64

In [68]:
# 데이터 프레임의 열 삭제하기
# 열을 확인(컬럼)
scientists.columns

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'Born_dt', 'Died_dt',
       'age_days_dt'],
      dtype='object')

In [69]:
# drop 메서드를 사용하여 age열을 삭제
scientists_dropped = scientists.drop(['Age'], axis =1)
scientists_dropped.columns

Index(['Name', 'Born', 'Died', 'Occupation', 'Born_dt', 'Died_dt',
       'age_days_dt'],
      dtype='object')

## 03-6 데이터 저장하고 불러오기

#### 데이터를 피클, csv, tsv 파일로 저장하고 불러오기

In [70]:
# 시리즈를 피클로 저장
names = scientists['Name']
names.to_pickle('output/scientists_names_series.pickle')

In [71]:
# 데이터프레임을 피클로 저장
scientists.to_pickle('output/scientists_df.pickle')

In [72]:
# 피클 데이터 불러오기
scientists_name_from_pickle = pd.read_pickle('output/scientists_names_series.pickle')
scientists_name_from_pickle

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [73]:
scientists_from_pickle = pd.read_pickle('output/scientists_df.pickle')
scientists_from_pickle

,Name,Born,Died,Age,Occupation,Born_dt,Died_dt,age_days_dt
0,Rosaline Franklin,1920-07-25,1958-04-16,66,Chemist,1920-07-25,1958-04-16,13779 days
1,William Gosset,1876-06-13,1937-10-16,61,Statistician,1876-06-13,1937-10-16,22404 days
2,Florence Nightingale,1820-05-12,1910-08-13,37,Nurse,1820-05-12,1910-08-13,32964 days
3,Marie Curie,1867-11-07,1934-07-04,41,Chemist,1867-11-07,1934-07-04,24345 days
4,Rachel Carson,1907-05-27,1964-04-14,56,Biologist,1907-05-27,1964-04-14,20777 days
5,John Snow,1813-03-15,1858-06-16,45,Physician,1813-03-15,1858-06-16,16529 days
6,Alan Turing,1912-06-23,1954-06-07,90,Computer Scientist,1912-06-23,1954-06-07,15324 days
7,Johann Gauss,1777-04-30,1855-02-23,77,Mathematician,1777-04-30,1855-02-23,28422 days

In [77]:
# csv와 tsv로 저장하기
names.to_csv('output/scientists_names.csv')
scientists.to_csv('output/scientists_names.tsv', sep = '\t')

In [76]:
# 엑셀파일로 저장하기, 설치
!pip install xlwt
!pip install openpyxl

Requirement already satisfied: xlwt in c:\programdata\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.0.3)
Requirement already satisfied: et-xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.4.1)

In [78]:
names_df = names.to_frame()

In [79]:
import xlwt
names_df.to_excel('output/scientists_names_series_df.xls')

In [80]:
import openpyxl
names_df.to_excel('output/scientists_names_series_df.xlsx')